@import "../../../scss/imports";

.exp-div {
    margin: 10vh 6vw;
}
.exp-child-1 {
    @include center__element;
    width: 100%;
    padding: 0 4vw;
}
.exp-txt-div {
    text-align: left;
    width: 100%;
}
.exp-img-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.exp-tagline {
    font-family: 'AvenirBook';
    color: $color4;
    font-size: 1.1vw;
    margin-bottom: 2vh;
}
.exp-title-div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
}
.exp-title {
    font-family: 'FuturaBold';
    color: $color1;
    font-size: 3.5vw;
    letter-spacing: 0.13vw;
    background: linear-gradient(355.72deg, #FFFFFF 33.17%, #6B6B6B 105.09%, rgba(255, 255, 255, 0) 122.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.exp-logo {
    margin-left: 1vw;
    width: 5%;
    height: 5%;
}
.exp-desc {
    font-family: 'AvenirMixed';
    color: $color1;
    font-size: 1.2vw;
    letter-spacing: 0.08vw;
    width: 75%;
    margin-bottom: 15vh;
    line-height: 3.5vh;
}
.exp-img {
    background-color: #e5e5e5e5;
    border-radius: 10%;
    padding: 1%;
    width: 30%;
}
.exp-child-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 3.5vw;
    margin-top: 5vh;
}
.exp-btn {
    width: 20%;
    @include center__element;
    padding: 3% 0;
}
.exp-btn-child-div {
    @include center__element;
}
.exp-btn-txt {
    font-family: 'AvenirBlack';
    font-size: 1.2vw; 
}
.exp-btn-icon {
    font-size: 1.2vw;
    margin-left: 1vw;
}