@import "../../../scss/imports";

.exp-div {
    margin: 10vh 6vw;
    padding-top: 3vh;
}
.exp-child-1 {
    @include center__element;
    width: 100%;
    padding: 0 4vw;
}
.exp-txt-div {
    text-align: left;
    width: 100%;
}
.exp-img-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.exp-tagline {
    @include tagline;
}
.exp-title-div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
}
.exp-title {
    @include title;
}
.exp-logo {
    margin-left: 1vw;
    width: 5%;
    height: 5%;
}
.exp-desc {
    @include desc;
}
.exp-img {
    background-color: #e5e5e5e5;
    border-radius: 10%;
    padding: 1%;
    width: 30%;
}
.exp-child-2 {
    @include braces-div;
}
.exp-btn {
    width: 20%;
    @include center__element;
    padding: 3% 0;
}
.exp-btn-child-div {
    @include center__element;
}
.exp-btn-txt {
    font-family: 'AvenirBlack';
    font-size: 1.2vw; 
    color: $color2;
}
.exp-btn-icon {
    font-size: 1.2vw;
    margin-left: 1vw;
    color: $color2;
}