.UserPage{
    min-height: 100vh;
    display: flex;
    &__menuButton{
        position: absolute;
        z-index: 3;
        width: 2rem;
        top: 2.75rem;
        left: 2rem;
        cursor: pointer;
        transition: all ease-in 0.3s;
    }


}