@import "../../../../scss/imports";

.Table {
  padding: 3rem 2rem 0rem 2rem;
  position: absolute;
  bottom: 0;
  right: 3rem;
  width: calc(100% - 5rem);
  max-height: 75.5vh;
  background: #000000;
  border-radius: 12px 12px 0px 0px;
  box-shadow: inset 0px 4px 20px rgba(170, 170, 170, 0.25);
  overflow-y: auto;
  scroll-behavior: smooth;
  &__headings {
    margin-left: -4rem;
    & li {
      display: inline;
      font-size: 1.2rem;
      line-height: 1.3rem;
      font-weight: 500;
      list-style: none;
      margin: 0rem 2rem;
      & a {
        text-decoration: none;
        color: $color4;
      }
    }
    &-underline {
      border-bottom: 1px solid $color4;
      padding-bottom: 2px
    }
  }
  &__list-headings {
    padding-left: 0rem;
    display: grid;
    grid-template-columns: 4fr 2fr repeat(3, 1.5fr) 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    & li {
      display: inline;
      list-style: none;
      font-size: 0.75rem;
      line-height: 0.7rem;
      color: #646464;
      padding: 1rem 0.5rem 0rem 0.5rem;
      text-align: left;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 4fr 2fr repeat(3, 1.5fr) 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    & div {
      padding: 1rem 0;
    }
    &-thumbnail {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 0px;
      font-family: "AvenirBook";
      &-img {
        width: 110%;
        margin-right: 2rem;
        padding: 0rem 0.7rem;
      }
      &-info {
        font-size: 90%;
        transform: translateY(30%);
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-description,
      &-length {
        font-size: 70%;
        line-height: 0.7rem;
        color: #bcbcbc;
      }
      &-length {
        position: relative;
        right: -72%;
      }
      &-description {
        transform: translateY(-220%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &-view,
    &-like {
      margin: 1.5rem 0px 0px 12%;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 0.7rem;
      color: #bcbcbc;
    }
    &-date {
      margin-top: 1.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 0.7rem;
      color: #bcbcbc;
    }
    &-comment {
      margin: 1.5rem 0px 0px 20%;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 0.7rem;
      color: #bcbcbc;
    }
    &-preview {
      margin-top: 1.5rem;
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 0.7rem;
      & img {
        width: 1.5rem;
        padding-right: 10px;
      }
    }
  }
  &::after{
    position: absolute;
    content: "";
  }
}

.horizontal-line {
  width: 94%vw;
  height: 1px;
  background-color: #646464;
}

@media (max-width: 1560px) {
  .Table__content-thumbnail-info {
    transform: translateY(30%);
  }
  .Table__content-thumbnail-description {
    transform: translateY(-140%);
  }
}

@media (max-width: 1450px) {
  .Table__content-thumbnail-info {
    transform: translateY(20%);
    padding-bottom: 10px;
  }
  .Table__content-thumbnail-description {
    transform: translateY(-100%);
  }
}
@media (max-width: 1260px) {
  .Table__content-thumbnail-info {
    transform: translateY(15%);
  }
  .Table__content-thumbnail-description {
    transform: translateY(-60%);
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 10px;
}
