@import "./../../../../scss/imports";

.ProfileCard {
  position: relative;
  padding: 3rem 2.5vw 4rem 2.5vw;
  width: 29rem;
  margin: 0 2rem 0 0;
  background-color: black;
  border-radius: 12px;
  box-shadow: inset 0px 4px 20px rgba(170, 170, 170, 0.25);
  &__logo {
    font-family: "Unica One";
    font-weight: 550;
    font-size: 2.3rem;
    &-icon {
      width: 1.9rem;
      margin-right: 1rem;
    }
  }
  &__shareButton {
    position: absolute;
    top: 7vh;
    right: 2.5vw;
    cursor: pointer;
  }
  &__pictureDiv {
    margin-top: 4vh;
    padding: 1rem;
    background-color: black;
    border-radius: 32px;
    box-shadow: inset 0px 4px 20px rgba(170, 170, 170, 0.25);
    width: 11.5rem;
    height: 11.5rem;
    & img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__accountAddress {
    font-family: "FuturaBook";
    color: rgba(131, 131, 131, 1);
    font-size: 0.7rem;
    letter-spacing: 3.5px;
    writing-mode: vertical-rl;
    position: absolute;
    right: 3vw;
    top: 15.7vh;
  }
  &__info {
    padding-left: 0.7vw;
    &-name {
      font-family: "FuturaHeavy";
      font-weight: 900;
      font-size: 2.3rem;
      padding: 2.5rem 0 1.7rem 0;
      margin-bottom: 0;
    }
    &-userName {
      color: rgba(0, 188, 123, 1);
      font-family: "FuturaMediumCond";
      font-size: 1.3rem;
    }
    &-bio {
      color: rgba(147, 147, 147, 1);
      font-family: "AvenirBook";
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 1.5rem;
      width: 15rem;
      letter-spacing: 1px;
      padding-top: 1rem;
    }
  }
}
