.creatorcard {
    &__wrapper {
        position: relative;
        background: #000000;
        border-radius: 40px;
        box-shadow: inset 0px 3px 25px rgba(255, 255, 255, 0.25);
        height: 18rem;
        width: 17rem;
        margin: 0 0.8rem;
    }
}