.Sidebar {
  position: fixed;
  float: left;
  width: 23rem;
  height: 100vh;
  background-color: #000000;
  -webkit-box-shadow: inset -4px 0px 10px 0px rgba(255, 255, 255, 0.11);
  -moz-box-shadow: inset -4px 0px 10px 0px rgba(255, 255, 255, 0.11);
  box-shadow: inset -4px 0px 10px 0px rgba(255, 255, 255, 0.11);
  z-index: 1;
}
