@import "../../../scss/_imports";

.accordion {
    background: #000000;
    box-shadow: inset 0px 4px 30px rgba(187, 187, 187, 0.25);
    border-radius: 20px;
    margin: 2rem 0 1rem 0;
    transition: all 0.6s ease-in-out;

    &__question {
        @include space_btw_elements;
        font-family: FuturaMedium;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: left;

        background: linear-gradient(15.7deg, #FFFFFF 11.25%, rgba(255, 255, 255, 0) 153.73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        &--opened {}

        &-q {
            padding: 2rem;
        }

        &-sign {
            font-size: 2rem;
            padding: 2rem;
            background: linear-gradient(15.7deg, #FFFFFF 11.25%, rgba(255, 255, 255, 0) 153.73%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__answer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0 2rem 0 2rem;
        transition: 1.2s padding ease-in;
        transition-delay: 0s;
        -webkit-transition: padding 1.2s;
        -moz-transition: padding 1.2s;
        -ms-transition: padding 1.2s;
        -o-transition: padding 1.2s;

        &-wrap {
            max-height: 0;
            transition: max-height 0.7s;
            transition-delay: 0;
            -webkit-transition: max-height 1s;
            -moz-transition: max-height 1s;
            -ms-transition: max-height 1s;
            -o-transition: max-height 1s;
        }

        &-sep {
            height: 1px;
            width: 100%;
            background-color: $color8;
            margin-bottom: 1.5rem;
            animation: fadeIn 1s;
            -webkit-animation: fadeIn 1s;
            -moz-animation: fadeIn 1s;
            -o-animation: fadeIn 1s;
        }

        &-ans {
            color: $color4;
            text-align: left;
            font-family: AvenirBook;
            font-size: 1.3rem;
            animation: fadeIn 1s;
        }

        &--opened {
            padding-bottom: 2rem;

            & .accordion__answer-wrap {
                max-height: 100vh;
            }
        }

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 820px) {
    .accordion {
        margin: 1.2rem 0;

        &__question {
            font-size: 0.9rem;
            line-height: 1.2rem;
            &-q {
                padding: 1rem;
            }

            &-sign {
                padding: 1rem;
                font-size: 1.3rem;
            }
        }

        &__answer {
            padding: 0 1rem;
            &-ans {
                font-size: 0.7rem;
            }
            &--opened {
                padding-bottom: 1.2rem;
            }
        }
    }
}