.TitleAndDescInput {
  text-align: left;
  margin: 2rem 12rem;
  &__title,
  &__description {
    font-size: 1.1rem;
    font-weight: 700;
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 140.22%,
      #ffffff 140.22%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0.6rem 0;
    &-input {
      background-color: black;
      margin: 0.7rem 0 1.3rem 0;
      width: 100%;
      resize: none;
      padding: 1.5rem;
      resize: vertical;
      border: none;
      border-radius: 10px;
      box-shadow: inset 0px 4px 20px rgba(170, 170, 170, 0.25);
      &::-webkit-scrollbar{
        width: 0px;
      }
    }
  }
  &__title{
    &-input{
      resize: none;
    }
  }
  &__description{
    &-input {
      &-limit{
        font-size: 1rem;
        color: #757575;
        font-weight: 300;
        position: absolute;
        right: 10px;
        bottom: 30px;
      }
    }
  }
}

.Description__div{
  position: relative;
}
