@import "../../../../scss/_imports";

.Menu {
  &__ul {
    list-style-type: none;
    text-align: left;
    margin: 20% 0% 20% 15%;
    &-li {
      font-size: 1.25rem;
      font-family: "AvenirBook";
      font-weight: 700;
      padding: 7% 0%;
      &-a {
        text-decoration: none;
        color: $color4;
      }
      &-img {
        width: 1.25rem;
        margin-right: 1rem;
      }
      &-selector {
        width: 0.35rem;
        height: 1.35rem;
        margin-right: 1rem;
        display: inline-block;
        margin: 0px 0.7rem -2px 0px;
        background: #000000;
        box-shadow: inset 0px 4px 20px rgba(170, 170, 170, 0.25);
        border-radius: 25%;
        position: relative;
        top: 0.2rem;
      }
    }
  }
}
