@import "../../../../scss/_imports";

.Menu {
  &__ul {
    list-style-type: none;
    margin: 9rem 0 4.5rem 0;
    padding-inline-start: 3px;
    transition: all ease-in-out 0.3s;
    &--active {
      padding-inline-start: 40px;
      text-align: left;
      margin: 9rem 0 4.5rem 1rem;
    }
    &-li {
      font-size: 0.7rem;
      font-family: "AvenirBook";
      font-weight: 600;
      padding: 1rem 0;
      transition: all ease-in-out 0.3s;
      &--active {
        text-align: left;
        font-size: 1.25rem;
        font-weight: 700;
      }
      &-a {
        text-decoration: none;
        color: $color4;
        &-span{
          position: absolute;
          display: none;
        }
        &-span--active{
          display: inline;
        }
      }
      &-img {
        width: 1.25rem;
        margin-right: 1rem;
        position: relative;
        bottom: 0.2rem;
      }
      &:nth-child(1) img,
      &:nth-child(2) img {
        width: 1.5rem;
      }
      &:nth-child(3) img {
        width: 1.15rem;
      }
      &-selector {
        width: 0.35rem;
        height: 1.35rem;
        margin-right: 1rem;
        display: inline-block;
        margin: 0px 0.7rem -2px 0px;
        background: #000000;
        box-shadow: inset 0px 4px 20px rgba(170, 170, 170, 0.25);
        border-radius: 25%;
        position: relative;
        top: 0.2rem;
      }
    }
  }
}
