@font-face {
    font-family: 'UnicaOne';
    src: url(./fonts/UnicaOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FuturaMedium';
    src: url(./fonts/futura-medium-bt.ttf) format('truetype');
}
@font-face {
    font-family: 'FuturaBook';
    src: url(./fonts/Futura-Book-font.ttf) format('truetype');
}
@font-face {
    font-family: 'FuturaBold';
    src: url(./fonts/Futura-Bold-font.ttf) format('truetype');
}
@font-face {
    font-family: 'AvenirBook';
    src: url(./fonts/Avenir-Book.ttf) format('truetype');
}
@font-face {
    font-family: 'AvenirMixed';
    src: url(./fonts/Avenir-Medium-09.ttf) format('truetype');
}
@font-face {
    font-family: 'AvenirBlack';
    src: url(./fonts/Avenir-Black-03.ttf) format('truetype');
}
@font-face {
    font-family: 'AvenirMedium';
    src: url(./fonts/Avenir-Medium-09.ttf) format('truetype');
}